/* styles for recipe page */
body{
    background-color: rgb(255, 190, 70);
}

h1, h3{
    font-weight: bolder;
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

ol{
    font-weight: bold;
}

li{
    color: red;
}

#pic1{
    height: 200px;
    width: auto;
    border-radius: 10%;
}